.container img{
 width: 300px;
}
.container{
    margin: 10px;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(186,186,186);

}
.container h3{
    color: #696969;
    margin: 30px 20px 20px;
}
.container p {
    margin: 0 20px 20px;
    background-color: rgb(10,145,46);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: #fff;


}
.counterContainer{
    display: flex;
}
.counterContainer img {
    width: 20px;
    height: 20px;
    /* padding: 15px; */
    margin-left: 10px;
    margin-right: 10px;
}
.deActive{
    opacity: 0.3;
}